*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #202124;
    color: #bdc1c6;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.itens-navegacao{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 10vh;
}
.itens-navegacao a{
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.itens-navegacao a:hover{
    text-decoration: underline;
}
.login{
    width: 130px;
    padding: 12px;
    background: #8ab4f8;
    border: none;
    border-radius: 3px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-seri;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
}
.login:hover{
    background: #93BAF9;
}

/*--------------*/
.google-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vh;
}
.google-imagem img{
    width: 300px;
}

/*INPUT E BOTOES*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33vh;

}
.caixa{
    display: flex;
    background: transparent;
    width: 600px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #5f6368;
    margin-top: 10px;
}
.caixa-texto{
    width: 75%;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #bdc1c6;
    font-size: 18px;
    height: 42px;
   

}
.caixa:hover{
    background: #303134;
    border: 1px solid transparent;
}

.caixa-texto:focus{
    outline: none;
}
.caixa i{
    color: #5f6368;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}
.limpar{
    color:  #5f6368;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
.teclado, .microfone{
    cursor: pointer;
    padding: 5px;
}
.botoes{
    margin-top: 30px;
}
.botao{
    padding: 12px;
    width: 160px;
    margin-right: 10px;
    background-color: #303134;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    border: 0.1px solid #202124;
}
.botao:hover{
    border-color: #5f6368;
    cursor: pointer;
}

.vazio{
    height: 20vh;
}
.rodape{
    height: 15vh;
    background: #171717;
}
